---
import Layout from "../layouts/Layout.astro";
import Post from "../components/Post.astro";

const url = `${import.meta.env.PUBLIC_API_URL}/posts?populate=image`;
const respuesta = await fetch(url);
const { data: posts } = await respuesta.json();
---

<Layout
  title="Blog"
  description="Pagina de tienda de instrumentos musicales, guitarras, cursos, blog y más"
>
  <main class="contenedor">
    <h1 class="heading">Blog</h1>
    <div class="grid">
      {
        posts?.map((post) => (
          <Post
            title={post.attributes.title}
            publishedAt={post.attributes.publishedAt}
            content={post.attributes.content}
            image={post.attributes.image.data.attributes.formats.medium.url}
            url={post.attributes.url}
          />
        ))
      }
    </div>
  </main>
</Layout>

<style></style>
